.input__container
{
  background-color: var(--blackTwo);
  flex: .05;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.input__container > input
{
  flex: .98;
  margin: 0 15px;
  border: none;
  background-color: var(--blackOne);
  outline: none;
  padding: 10px;
  font-weight: 400;
  font-family: var(--fontOne);
  color: white;
  border-radius: 30px;
  font-size: 18px;
}