.icon__container
{
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  transition: .2s;
}

.icon
{
  font-size: 20px;
  color: var(--gray);
}

.icon__container:hover
{
  background-color: var(--blackOne);
}