.icon__container
{
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  transition: .2s;
}

.icon
{
  font-size: 30px;
  color: var(--gray);
}

.icon__container:hover
{
  background-color: var(--blackOne);
}