.auth
{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--blackTwo);
  align-items: center;
  justify-content: center;
}

.auth__card
{
  width: 80vw;
  height: 80vh;
  background-color: var(--blackOne);
  border-radius: 60px;
  box-shadow: var(--shadow);
  display: flex;
  padding: 15px;
  align-items: center;
  font-family: var(--fontOne);
  flex-direction: column;
}

.auth__titleInput
{
  color: var(--greenTwo);
  transition: .5s;
  margin: 10px;
}

.auth__title
{
  color: var(--greenTwo);
  transition: .5s;
  margin: 10px;
}

.auth__title:hover
{
  text-decoration-line: underline;
}



.auth__form 
{
  margin: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: min-content;
}

.auth__form > input
{
  width: 40vw;
  color: white;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: var(--blackTwo);
  margin-bottom: 70px;
  padding: 15px;
  border-radius: 30px;
  box-shadow: var(--shadow);
  text-align: center;
  font-family: var(--fontTwo);
}

@media (max-height : 720px) 
{
  .auth__titleInput
  {
    display: none;
  }
  .auth__form > input
  {
    margin-bottom: 40px;
  }
}

.auth__form > button
{
  font-family: var(--fontOne);
  font-size: 18px;
  width: 30vw;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 30px;
  box-shadow: var(--shadow);
  transition: .5s;
  cursor: pointer;
}


.auth__buttonEnable
{
  color: var(--blackTwo);
  background-color: var(--greenTwo);
}


.auth__buttonDisenable
{
  color: var(--greenTwo);
  background-color: var(--blackTwo);
}