@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --fontOne :  'Zen Maru Gothic', sans-serif;
  --fontTwo : 'Hack Nerd Font Mono';
  --blackBackground : #0a1014;
  --gray : #aebac1;
  --blackOne : #111b21;
  --blackTwo : #202c33;
  --greenOne : #005c4b;
}

::-webkit-scrollbar
{
  display: none;
}