@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --fontOne :  'Zen Maru Gothic', sans-serif;
  --fontTwo : 'Hack Nerd Font Mono';
  --blackBackground : #0a1014;
  --gray : #aebac1;
  --blackOne : #111b21;
  --blackTwo : #202c33;
  --greenOne : #005c4b;
  --authorColor : #8e6eef;
  --shadow : rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --greenTwo : #15db51;
}

::-webkit-scrollbar
{
  display: none;
}